<template>
    <div class="col-md-4">
        <div :class="'movie-card ${movie.original_title}'">

        </div>
    </div>    
</template>

<script>
import Movie from "@/models/movie";

export default {
    props: {
        movie: {
            required: true,
            original_title: Movie
        },
    },
    computed: {
        movieid(){
            return this.movie.id;
        }
    }
}
</script>
<style>

</style>