<template>
    <div class="popular">
        <h1>Lista de peliculas populares</h1>
        <ol>
            <li v-for="movie in peliculasPopulares" :key=movie.original_title>
                {{movie.original_title}}
            </li>
        </ol>
    </div>
</template>

<script>
    import apiService from '../services/api.service.js'
    import Movie from '@/models/movie'

    export default{
        data(){
            return{
                peliculasPopulares: [],
            };
        },
        mounted() {
            this.getPeliculasPopulares();
        },
        methods: {
            async getPeliculasPopulares() {
                const { data } = await apiService.getPopular();
                this.peliculasPopulares = data.results;
                this.peliculasPopulares = await Promise.all(
                    data.results.map((movie) => this.getPelicula(movie.id))
                );
            },
            async getPelicula(id) {
                const { data } = await apiService.getMovie(id);
                return new Movie(data);
            }
        }
    }
</script>