<template>
    <div class="topRated">
        <h1>Lista de peliculas mejor valoradas</h1>
        <ol>
            <li v-for="movie in peliculasTopRated" :key=movie.original_title>
                {{movie.original_title}}
            </li>
        </ol>
    </div>
</template>

<script>
    import apiService from '../services/api.service.js'
    import Movie from '@/models/movie'

    export default{
        data(){
            return{
                peliculasTopRated: [],
            };
        },
        mounted() {
            this.getPeliculasTopRated();
        },
        methods: {
            async getPeliculasTopRated() {
                const { data } = await apiService.getTopRated();
                this.peliculasTopRated = data.results;
                this.peliculasTopRated = await Promise.all(
                    data.results.map((movie) => this.getPelicula(movie.id))
                );
            },
            async getPelicula(id) {
                const { data } = await apiService.getMovie(id);
                return new Movie(data);
            }
        }
    }
</script>
