p {color:black; 
    font: size 14px;
    letter-spacing:0px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}

 
h1 {color:black;
    font: size 16px;
    text-align: left;
}

input {color:black;
    font: size 14px;
    padding: 5px 5px 5px 15px;
    margin: 30px;
    text-align: left;
}

#cuadroTexto, #boton {
    width: 1000;
}

#boton {
    text-align: center;
}
