table, th, td {
    border: 1px solid black;
}
  
table{
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}

th{
    background-color: rgb(49, 141, 49);
}

td{
    color:black;
    vertical-align: center;
    text-align: center;
}
