:root {
    --primary-color: #010e04;
    --secondary-color: #02350e;
    --white-color: #fafafa;
    --primary-bg-color: #f1f0ea;
  }
  
  * {
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
  }
  
  #header{
    color: var(--white-color);
    background-color: var(--primary-color);
    text-align: right;
  } 
  
  #footer{
    vertical-align: text-bottom;
    text-align: center;
  }
