* {
    font-family:'Fraunces', serif;
}

body {
    margin:0;
    background-color: #227042;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-rows: 160px;
    background-color: #000000;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

.teclado {
    display: grid;
    margin:0;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(4, 75px);
    background-color:rgb(35, 51, 46);
    border-radius: 32px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
}

button:active {
    background-color: #b3a819;
}

button:focus {
    outline: none;
}

.row-2 {
    grid-row: span 2;
    color: rgb(55, 64, 87);
    background-color: rgb(110, 242, 214)
}

.borrar {
    background-color:rgb(245, 44, 88);
}

.operador {
    background-color:rgb(51, 59, 77);
    color: rgb(138, 151, 187);
}

.numero {
    background-color:rgb(35, 51, 46);;
    color: rgb(138, 151, 187);
}

.pantalla {
    color:turquoise;
    font-size: 1.6em;
    grid-column: 1 / -1;
    display: flex;
    margin: 0px 0px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000000;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}
